VITE_API_URL=http://localhost:5000/api
# Add your Razorpay Key ID here (never the Secret Key)
VITE_RAZORPAY_KEY_ID=your_razorpay_key_id
VITE_GOOGLE_CLIENT_ID=49093638437-sb29enatio7g4rgss5rl0tmp8aeoe6bj.apps.googleusercontent.com